@font-face{
    font-family: "Avenir Roman";
    src:url("../fonts/avenir-roman.ttf");
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../img/bg.jpg") no-repeat top center;
    background-size: cover ;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: Avenir Roman ;
}

.btn{
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    color: #f9f9f9;
    text-decoration: none;
    top:16px;
    padding: 8px 16px;
    border:1px solid #f9f9f9;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1.5px;
    right: 32px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .2s ease;

}

.btn:hover{
    background: #f9f9f9;
    color: black;

}



img.franquias{
    max-width: 600px;
    position: absolute;
    bottom: 25px;
}

img.logoD{
    max-width: 160px;
}

.hero-content{
    padding-left: 80px;
    margin-top: -21px;
}

.hero-content > p{
    font-size: 12px;
    line-height: 18px;
    color:rgba(192, 192, 192,0.8);
    margin-top: 16px;
}

h1{
    font-size: 43px;
    line-height: 53px;
    color:#f9f9f9;
    margin:20px 0 30px 0;
}

.preco-container{
    display: flex;
}

.preco span{
    color:#f9f9f9;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.preco {
    width: 300px;
    max-width: 100%;
    color:rgba(192, 192, 192,0.8);
}

.preco:first-child{
    display: grid;
}

.preco:first-child a{
    align-self: end;
}

.preco a{
    padding: 16px 5px 14px;
    background: #0063e5;
    display: block;
    border-radius: 4px;
    text-align: center;
    color: #f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s ease;
}

.preco a:hover{
    background: #0483ee;
}

.preco p:first-child{
    margin: 0;
}

.preco p{
    margin: 16px 0;
}

.preco + .preco{
    margin-left: 32px;
}

